@charset "utf-8";
/* CSS Document */
#n1
	{
		position:absolute;
		top:0px;
		background:#6D1635;
		left:1px;
		width:1364px;
		height:100px;
	}
#im1
	{
		position:absolute;
		top:-10px;
		height:120px;
	}
#im4
	{
		position:absolute;
		top:-10px;
		height:110px;
		left:200px;
	}
#in1
	{
		position:absolute;
		left:1030px;
		top:0px;
		font-size:25px;
		font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
		background:#6D1635;
		width:300px;
		border:none;
		color:#F4A908;
		font-weight:bold;
	}
#in2
	{
		position:absolute;
		left:1060px;
		top:40px;
		font-size:45px;
		background:#6D1635;
		width:300px;
		border:none;
		color:#F4A908;
		font-weight:bold;
	}

#t1
	{
		position:absolute;
		top:101px;
		left:80px;
		width:1200px;
		height:50px;
		background:#7B098B;
		border-radius:20px 20px 20px 20px;
	}
#hh3
		{
			position:absolute;
			top:-18px;
			left:80px;
			font-size:35px;;
			color:#0DD5F5;
		}
#l1
{
	position:absolute;
	top:153px;
	left:93px;
	width:1140px;
	height:440px;
	border:15px solid;
	border-color:#197E56;
	
}
#im2
{
	position:absolute;
	left:10px;
	top:105px;
}
#im3
{
	position:absolute;
	left:1310px;
	top:105px;
}
.footer {
	position:absolute;
	top:655px;
	background:url(search-icon.png);
	text-align:center;
	left:0px;
	width:1366px;
}
#footer1 {
	position:absolute;
	top:629px;
	background:#7B098B;
	text-align:center;
	left:400px;
	width:500px;
}
#footer1 a
{
	text-decoration:none;
	color:#F1B400;
	}