@charset "utf-8";
/* CSS Document */
/*animation*/
.first
		{
			-webkit-animation:bannermove 55s linear infinite;
			-moz-animation:bannermove 10s linear infinite;
			-ms-animation:bannermove 10s linear infinite;
			-o-animation:bannermove 10s linear infinite;
			animation:bannermove 55s linear infinite;
		}
	@keyframes	"bannermove"
		{
			0%
				{
					margin-left:10px;
				}
			100%
				{
					margin-left:-11125px;
				}
		}
	@-moz-keyframes  "bannermove"
		{
			0%
				{
					margin-left:10px;
				}
			100%
				{
					margin-left:-2125px;
				}
		}
		@-webkit-keyframes  "bannermove"
		{
			0%
				{
					margin-left:-10px;
				}
			100%
				{
					margin-left:-11225px;
				}
		}
		@-ms-keyframes  "bannermove"
		{
			0%
				{
					margin-left:10px;
				}
			100%
				{
					margin-left:-2125px;
				}
		}
#n2
	{
		width:869.5px;
		height:300px;
		background:url(Panorama2.jpg);
		top:0px;
		left:0px;
		overflow:hidden;
	}
#hh6
	{
		position:absolute;
		top:-25px;
		left:140px;
		color:#CCC;
		font-size:30px;
		text-align:center;
		}
#n8
	{
		position:absolute;
		width:869.5px;
		height:45px;
		background:#003;
		top:305px;
		left:0px;
		color:#CCC;
		font-size:30px;
		text-align:center;
	}

#ff1
	{
		position:absolute;
		width:850px;
		height:1200px;
		top:0px;
		left:230px;
	}

#n9
	{
		position:absolute;
		width:868px;
		height:555px;
		background:#E8FFFF;
		top:415px;
		left:2px;
	}


#n2 img
		{
			-webkit-transition:all 3s ease;
			-moz-transition:all 0.5s ease;
			-o-transition:all 0.5s ease;
			-ms-transition:all 0.5s ease;
			transition:all 0.5s ease;
			width:869.5px;
			height:300px;
		
		}
	#n2 img:hover
		{
			-webkit-transform:scale(1.7);
			-moz-transform:scale(1.7);
			-o-transform:scale(2.7);
			-ms-transform:scale(2.7);
			transform:scale(2.7);
			cursor:pointer;
		}
/*end of animation*/
#n1
	{
		position:fixed;
		top:0px;
		left:0px;
		background:url(search-icon.png);
		width:230px;
		height:677px;
	}
#n3
	{
		position:absolute;
		top:0px;
		left:0px;
		width:869.5px;
		height:666px;
	}

#n4
	{
		position:fixed;
		top:0px;
		left:1100.5px;
		background:#D8DCE3;
		width:265px;
		height:669px;
	}
#n5
	{
		position:absolute;
		top:0px;
		left:0px;
		background:#070978;
		width:265px;
		height:40px;
	}
#n10
	{
		position:absolute;
		top:40px;
		left:0px;
		width:265px;
		height:200px;
		background:#FFF;
	}
#n11
	{
		position:absolute;
		top:241px;
		left:0px;
		width:265px;
		height:200px;
	}
#n12
	{
		position:absolute;
		top:0px;
		left:0px;
		background:#070978;
		width:265px;
		height:40px;
	}



#n6
	{
		position:absolute;
		top:400px;
		left:0px;
		background:#070978;
		width:265px;
		height:45px;
	}
#n7
	{
		position:absolute;
		top:630px;
		left:0px;
		background:#070978;
		width:265px;
		height:45px;
	}

#im2	
	{
		position:absolute;
		top:0px;
		left:0px;
		width:869.5px;
		height:249px;
	}
#im3	
	{
		position:absolute;
		top:446px;
		left:0px;
		width:265px;
		height:182px;
	}
#pp1
	{
		position:absolute;
		top:30px;
		left:2px;
		width:100px;
		height:35px;
		font-size:18px;
		font-weight:bold;
	}
#pp2
	{
		position:absolute;
		top:32px;
		left:105px;
		width:140px;
		height:55px;
		font-size:17px;
		font-weight:bold;
	}
#pp3
	{
		position:absolute;
		top:75px;
		left:2px;
		width:100px;
		height:35px;
		font-size:18px;
		font-weight:bold;
	}
#pp4
	{
		position:absolute;
		top:77px;
		left:80px;
		width:140px;
		height:55px;
		font-size:16px;
		
	}
#pp5
	{
		position:absolute;
		top:112px;
		left:2px;
		width:100px;
		height:35px;
		font-size:18px;
		font-weight:bold;
	}
#pp6
	{
		position:absolute;
		top:112px;
		left:80px;
		width:140px;
		height:55px;
		font-size:16px;
		
	}

#im4	
	{
		position:absolute;
		top:586px;
		left:35px;
		
	}
#im5	
	{
		position:absolute;
		top:582px;
		left:90px;
		width:35px;
		height:35px;
		
	}
#im6	
	{
		position:absolute;
		top:585px;
		left:155px;
		width:35px;
		height:35px;
		
	}

#p1
	{
		position:absolute;
		color:#F0DFDF;
		top:-15px;
		left:10px;
	}
#p3
	{
		position:absolute;
		color:#F0DFDF;
		top:610px;
		left:40px;
		font-size:small;
	}
#in1
	{
		position:absolute;
		top:640px;
		left:10px;
		color:#0BC9F9;
		font-size:xx-large;
		width:200px;
		font-weight:bold;
		font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
		text-align:center;
		background:url(search-icon.png);
		border:none;
	}
#in3
	{
		position:absolute;
		top:357px;
		left:70px;
		color:#0BC9F9;
		font-size:x-large;
		width:500px;
		font-weight:bold;
		height:45px;
		text-align:justify;
		border-radius:7px 7px 7px 7px;
		border-color:#030;
	}
#srch
	{
		position:absolute;
		top:357px;
		left:630px;
		color:#0BC9F9;
		font-size:37px;
		width:150px;
		font-weight:bold;
		height:50px;
		text-align:center;
		background:#006;
		border-radius:7px 7px 7px 7px;
		border-color:#030;
	}

#in2
	{
		position:absolute;
		top:130px;
		left:0px;
		color:#000000;
		height:25px;
		font-size:20px;
		background:url(search-icon.png);
		border:none;
		color:#02EBEF;
	}

#p3 a
	{
		text-decoration:none;
		color:#F0DFDF;
	}

#p2
	{
		position:absolute;
		color:#F0DFDF;
		top:8px;
		left:10px;
	}
#p2 a
	{
		text-decoration:none;
		color:#F4E5E5;
	}

#im1
	{
		position:absolute;
		top:-5px;
		left:-5px;
		width:80px;
		height:90px;
	}
#hh1
	{
		position:absolute;
		top:-10px;
		left:76px;
		color:#EFE7E8;
	}
#hh2
	{
		position:absolute;
		top:25px;
		left:100px;
		color:#D4CFCF;
	}
#hh3
	{
		position:absolute;
		top:-10px;
		left:60px;
		color:#D4CFCF;
	}
#hh4
	{
		position:absolute;
		top:30px;
		left:30px;
		color:#130873;
	}

#l
	{
		position:absolute;
		top:150px;
		left:0px;
		width:228px;
		color:#04104A;
		
	}
#l4
	{
		position:absolute;
		top:610px;
		left:0px;
		width:228px;
		color:#04104A;
		
	}

#l1
	{
		position:absolute;
		top:150px;
		left:0px;
		width:265px;
		color:#04104A;
		
	}
#l2
	{
		position:absolute;
		top:270px;
		left:0px;
		width:265px;
		color:#04104A;
		
	}

#hh5
{
	  position:absolute;
	  left:300px;
	  top:-2px;
	  width:400px;
	  height:50px;
	  font-size:20px;
	  color:#060
	  }
#p11{font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif; font-weight:100; color:#1B1A1A; margin-left:5%; margin-right:5%; margin-top:5%;}

.footer
	{
		position:absolute;
		left:231px;
		top:972px;
		width:868px;
		height:500px;
		background:#903;
	}
#u11
	{
		position:absolute;
		top:0px;
		left:-30px;
		list-style:none;
	}
#u11 li a
	{
		text-decoration:none;
		color:#60F;
	}
#u11 a:hover
	{
		text-decoration:underline;
		color:#030;
	}
#u12
	{
		position:absolute;
		top:0px;
		left:120px;
		list-style:none;
	}
#u12 li a
	{
		text-decoration:none;
		color:#60F;
	}
#u12 a:hover
	{
		text-decoration:underline;
		color:#030;
	}
#u13
	{
		position:absolute;
		top:0px;
		left:350px;
		list-style:none;
	}
#u13 li a
	{
		text-decoration:none;
		color:#60F;
	}
#u13 a:hover
	{
		text-decoration:underline;
		color:#030;
	}
#u14
	{
		position:absolute;
		top:0px;
		left:500px;
		list-style:none;
	}
#u14 li a
	{
		text-decoration:none;
		color:#60F;
	}
#u14 a:hover
	{
		text-decoration:underline;
		color:#030;
	}
#u15
	{
		position:absolute;
		top:0px;
		left:700px;
		list-style:none;
	}
#u15 li a
	{
		text-decoration:none;
		color:#60F;
	}
#u15 a:hover
	{
		text-decoration:underline;
		color:#030;
	}
#u16
	{
		position:absolute;
		top:0px;
		left:10px;
		list-style:none;
	}
#u16 li a
	{
		text-decoration:none;
		color:#60F;
	}
#u16 a:hover
	{
		text-decoration:underline;
		color:#030;
	}
#u1	
	{
		position:absolute;
		top:170px;
		left:-10px;
		list-style:none;
		font-size:20px;
		font-family:"Lucida Bright";
		font-weight:bold;
		margin-top:9px;
		
	}
#u1 li a
	{
	color:#CCC;
	text-decoration:none;
	}
#u1 a:hover
	{
		color:#70303C;
		font-size:22px;
		text-decoration:blink;
	}
